#{extends 'main.html' /}
#{set title:'Cadastro de Usuarios' /}
<div class="container-fluid">
    <!--Barra de navegação de cima do formulario-->
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/public/images/navbarImplasReclamacoes.png" alt="Logo" width="220" height="70" class="d-inline-block align-text-top">
          </a>
          <nav class="navbar bg-light">
            <form class="container-fluid justify-content-start">
              <a href="@{Usuarios.listarUsuarios}" class="btn btn-outline-success me-2" style="text-decoration: none;">Clientes Cadastrados</a>
            </form>
          </nav>
        </div>
      </nav>
      <!--Aqui começa o formulario, lembrando que esse formulario serve tanto pra salvar quanto para editar uma reclamação-->
    
      <form action="@{Usuarios.salvarUsuario}" method="post" enctype="multipart/form-data">
        
        <input type="hidden" name="usuarioObj.id" value="${usuarioEditObj?.id}">
        
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">Nome do cliente</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="usuarioObj.nomeUsuarioString" required autofocus id="nomeCliente" value="${usuarioEditObj?.nomeUsuarioString}">
        </br>
        </br>
            <span class="input-group-text" id="inputGroup-sizing-lg">CNPJ/CPF</span>
            <input type="text" class="form-control" placeholder="00.000.000/0000-00 ou 999.999.999-99" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="usuarioObj.numIdentificadorUsuarioString" required id="NumeroIdenticador" value="${usuarioEditObj?.numIdentificadorUsuarioString}">

            <span class="input-group-text" id="inputGroup-sizing-lg">Contato</span>
        <input type="text" class="form-control" placeholder="(99)99999-9999" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="usuarioObj.contatoUsuarioString" id="Titulo" required value="${usuarioEditObj?.contatoUsuarioString}">
        </div>
</br>
<select name="usuarioObj.tipoDeUsuarioEnum" class="form-select" aria-label="Default select example">
  <option selected>Selecione o Tipo de Usuario</option>
  <option value="ADMIN">Funcionario da Empresas</option>
  <option value="CLIENT">Cliente Da empresa</option>

</select>
<br>
    <div class="input-group input-group-lg">   
        <span class="input-group-text" id="inputGroup-sizing-lg">Email do Usuario</span>
        <input type="text" class="form-control" placeholder="implasverde@example.com" aria-label="Recipient's username" aria-describedby="basic-addon2" name="usuarioObj.emailUsuarioString" id="Email" required value="${usuarioEditObj?.emailUsuarioString}">

        <span class="input-group-text" id="inputGroup-sizing-lg">Senha do Usuario</span>
        <input type="password" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" name="senha" id="Senha"  value="">
        
        
      </div>
    <br>
        <input type="submit" name="Botao" id="Botao" class="btn btn-success" value="${usuarioEditObj ? 'Atualizar Usuario' : 'Cadastrar Usuario'}">
        <input type="reset" class="btn btn-secondary" value="Limpar">
    </div>

</form>
</div>

